<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Life Feed</title>
  </head>
  <body>
    <header>Header</header>




    <%= yield %>



    <footer>footer</footer>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
