<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Life Feed</title>
  </head>
  <body>
    <header>
      <ul class="nav">
        <% if session[:user] == nil %>
        <li>
          <a href="/">Home</a>
        </li>
          <li>
            <a href="/signup">Sign up</a>
          </li>
          <li>
            <a href="/login">Log In</a>
          </li>
          <% elsif session[:user] != nil %>
            <li>
              <a href="/member"><%= session[:user].name %></a>
            </li>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/logout">log out</a>
            </li>
          <% end %>
        </ul>
      </header>

      <%= yield %>

      <footer>footer</footer>
      <script type="text/javascript" src="/main.js"></script>
    </body>
  </html>
