<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <title>Life Feed</title>
  </head>
  <body>
    <header>
      <ul class="nav">
        <% if session[:user] == nil %>
        <li>
          <a href="/"><i class="fas fa-home"></i> Home</a>
        </li>
          <li>
            <a href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
          </li>
          <li>
            <a href="/login"><i class="fas fa-sign-out-alt"></i> Log In</a>
          </li>
          <% elsif session[:user] != nil %>
            <li>
            <h2>Welcome back <%= session[:user].first_name.capitalize %></h2>
            </li>
            <li>
              <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
              <a href="/logout"><i class="fas fa-sign-out-alt"></i> log out</a>
            </li>
          <% end %>
        </ul>
      </header>

      <%= yield %>

      <footer>footer</footer>
      <script type="text/javascript" src="/main.js"></script>
    </body>
  </html>
