<div class="login">
  <div class="loginForm">
<h1>Login</h1>
<p>Not a user? <a href="/signup"><i class="fas fa-user-plus"></i> Sign up here</a></p>
<form class="" action="/login" method="post">
  <label for="">Email</label>
  <input type="email" name="email" required><br>
  <label for="">Password</label>
  <input type="password" name="password" required><br>
  <input type="submit" name="login" value="Log In">
</form>
</div>
</div>
