* {
  font-family: 'Syncopate', sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,.85);
  font-weight: 500;
}
header {
  background:rgb(243, 53, 53);
  height: 5vh;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
}
.logo {
  width: 8%;
  height: auto;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 0 2em 0;
}
.nav {
  width: 100vw;
  text-align: right;
  font-size: 75%;
  font-weight: 300;
}
.nav li {
  display: inline-block;
  list-style-type: none;
  width: auto;
  margin: 0 1.5vw;

}
.nav li a {
  text-decoration: none;
  color: rgba(255,255,255,.9);
}
.nav li a:hover {
  border-bottom: rgba(255,255,255,.9) .1em solid;
  font-size: 2.7vh;
}
.nav h2 {
  text-align: center;
  width: 50vw;
  margin: 0 25vw;
  position: absolute;
  color: rgb(255, 255, 255, .9);
}
i {
  color: rgba(51, 66, 91,.6);
}
body {
  background: rgb(216, 233, 240);
}
.home, .login, .signup{
  width: 80vw;
  height: 100vh;
  /* border: black 1px solid; */
  position: fixed;
  margin: 10vh 10vw;
  padding: 1vw;
  overflow: scroll;
}
.home{
  text-align: center
}
.homelogo {
  width: 25vw;
  border-radius: 1vh;
  margin-bottom: 2vh;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}
.home p {
  text-align: left;
  margin: 1.5vh 0;
}
.home a, .home input[type='submit'], .login input[type=submit], .signup input[type=submit] {
  border: rgba(255, 255, 255, .9) 1px solid;
  text-decoration: none;
  padding: 1vh 1.5vw;
  font-size: 2vh;
  margin: 0 1vw;
  border-radius: .5vw;
  background: rgba(51, 66, 91,.9);
  color: rgba(255, 255, 255, .9);
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}
.home a:hover,.home input[type='submit']:hover, .signup input[type=submit]:hover,.login input[type='submit']:hover  {
  background: rgba(51, 66, 91,.7);
}
.home a:active, .home input[type='submit']:active, .signup input[type='submit']:active,.login input[type='submit']:active{
  box-shadow: none;
}
.signupForm , .loginForm{
  width: 50vw;
  height: auto;
  margin: 5vh 15vw;
  font-size: 3vh;
  position: relative;
  background: rgba(51, 66, 91,.2);
  box-sizing: border-box;
  padding: 2vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}

.loginForm {
  height: 50vh;
}

.signupForm h1, .loginForm h1 {
  text-align: center;
  margin-bottom: .5em;
}
.signupForm p, .loginForm p {
  margin-bottom: .5em;
}
.signupForm a, .loginForm a{
  color: black;
}
input {
  margin-bottom: 1em;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(51, 66, 91,.4);
  border: rgb(255, 255, 255, .9) 1px solid;
  font-size: .7em;
  padding: 0;
}
input[type='text'],[type='email'] {
  width: 15vw;
}

.home input[type=submit], .loginForm input[type=submit], .signupForm input[type=submit] {
  position: absolute;
  left: 20vw;
  top: 50vh;
}
.loginForm input[type=submit] {
  top: 65%;
}

.container {
  padding: .5em;
  display: grid;
  grid-template: auto / 30% 50% 14%;
  width: 100%;
  height: 97vh;
  column-gap: 3%;
  position: absolute;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.posts, .news{
  overflow: scroll;
}

.item {
  margin-top: 5em;
  height: 100%;
}
.item h2 {
  text-align: center;
  margin-bottom: 1em;
}
.article {
  margin-bottom: 1em;
  padding: .5em;
  background: rgba(255, 255, 255,.9);
  margin-bottom: 1em;
  width: 28vw;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
  border-radius: 5px;
}
.article img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}
.article h3, h4 {
  margin: .3em 0;
  font-weight: bold;
}
.article a {
  color: rgba(51, 66, 91,.9);
  text-shadow: 2px 2px 2px rgba(0,0,0,.6);
  font-weight: 200;
}
.newPost {
  background: rgba(255, 255, 255,.9);
  color: rgba(255, 255, 255, .9);
  height: 55vh;
  width: 30vw;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 2px;
  box-shadow:5px 5px 5px rgba(0,0,0,.6);
  font-weight: 100;
  overflow-x: hidden;
  padding: .5em;
}
/* .textOnly {
  margin-top: 3em;
  font-size: 2em;
  width: 100%;
} */
.center {
  margin: 0 auto;
  width: 25vw;
  height: 48vh;
  left: 5%;
  top:15%;
  /* border: black 1px solid; */
  box-sizing: content-box;
  margin-top: 1em;
}
.center small {
  margin-left: 46%;
}
.left {
  width: 25vw;
  height: 35vh;
  margin-bottom: .5em;
}
.right {
  width: 100%;
  height: 25%;
  background: rgba(51, 66, 91,.4);
  border: black 1px solid;
}
.left img {
  width: 100%;
  height:100%;
}

.newPost h3 {
  text-align: left;
  font-weight: 200;
}
.right p {
  text-align: left;

}
.posts {
  text-align: center;
}
form {
  margin-bottom: 1em;
}
.postbtn, .allPosts {
  margin-left: 75%;
  font-size: 1em;
  padding: .6em .2em;
  margin-top: 0.5em;
  border-radius: 5px;
  width: 8em;
  background: rgba(51, 66, 91,.9);
  color: rgb(255, 255, 255, .9);;
}
.postbtn:hover, .allPosts:hover {
  background: rgba(51, 66, 91,.7);
}
.pics {
  width: 75%;
  margin: 1em 0;
  height: 1.5em;
  border-radius: 5px;
  background-color: rgba(51, 66, 91,.9);
  font-size: 1em;
}
#myTextArea {
  border-radius: 5px;
  width: 45vw;
  height: 15vh;
  border: rgba(51, 66, 91,.4) 3px solid;
}
.cancel {
  padding: .2em .3em .1em .3em;
  float: right;
  left: 95%;
  color: red;
  border: rgba(255,255,255,.6) 1px solid;
  font-weight: 600;
  background: rgba(255,255,255,.6);
  border-radius: 5px;
  text-shadow: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,.6);
  text-decoration: none;
}
.cancel:active {
  box-shadow: none;
}
.member {
  height: 2em;
  width: 10em;
  font-size: 1.5em;
  padding: .1em;
  position: relative;
  background: rgba(51, 66, 91,.4);
  margin-bottom: .5em;
  border-radius: 1em;
  left: 70%;
  transition: all 1s ease;
  box-shadow:5px 5px 5px rgba(0,0,0,.6);
}
.member:hover {
  left: 0;
}
.member img {
  height: 2em;
  width: auto;
  float: left;
}

.member h5 {
  position: absolute;
  margin-left: 3.5em;
  margin-top: 1.3em;
}
.setting {
  width: 11em;
  height: 12em;
  background: rgba(0,0,0,.8);
  position: absolute;
  z-index: 2;
  left: 76%;
  top: 2.5em;
}
.sure {
  width: 10em;
  height: 12em;
  background: rgba(0,0,0,.8);
  position: absolute;
  z-index: 2;
  left: 88.2%;
  top: 2.5em
}
.sure a , .setting a , .sure p{
  color: rgba(255,255,255,.9);
  text-decoration: none;
  margin: .1em;
}
.sure p {
  margin-bottom: 1em;
}
.sure a {
  margin-left: 1em;
}
.sure a:hover {
  color: rgba(255,255,255,.7);
}
footer {
  background: rgb(243, 53, 53);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5em;
}


@media only screen and (max-width: 1150px) {
    .members {
        display: none;
    }
    .container {
      grid-template: auto / 40vw 55vw;
      column-gap: 1vw;
    }
    .article {
      width: 35vw;
    }
    .nav h2 {
      text-align: center;
      width: 50vw;
      margin: 0 10vw;
      position: absolute;
      color: rgb(255, 255, 255, .9);
    }
    .newPost {
      height: 60vh;
      width: 30vw;

}
