* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
header {
  background:rgba(22, 102, 120,.9);
  height: 2.5em;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
}
.logo {
  width: 6em;
  height: auto;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 2em 0
}
.nav {
  width: 100%;
  text-align: right;
  font-size: 1.2em;
  font-weight: 200;
}
.nav li {
  display: inline-block;
  list-style-type: none;
  width: auto;
  margin: 0 1em;

}
.nav li a {
  text-decoration: none;
  color: rgb(216, 215, 195);
}
.nav li a:hover {
  border-bottom: rgb(216, 215, 195) .1em solid;
  font-size: 1.1em;
}
.nav h2 {
  text-align: center;
  width: 50vw;
  margin: 0 25vw;
  position: absolute;
  color: rgb(216, 215, 195);
}
i {
  color: rgb(125, 185, 179);
}
body {
  background: #eeeeee;
}
.home, .login, .signup{
  width: 80vw;
  height: 75vh;
  /* border: black 1px solid; */
  position: fixed;
  margin: 10vh 10vw;
  padding: 2em;
  overflow: scroll;
}
.home{
  text-align: center
}
.homelogo {
  width: 20em;
  border-radius: 1em;
  margin-bottom: 1.5em;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}
.home p {
  text-align: left;
  margin: 1.5em 0;
}
.home a {
  border: rgb(216, 215, 195) 1px solid;
  text-decoration: none;
  padding: .5em 1em;
  font-size: 1em;
  margin: 0 .5em;
  border-radius: 10px;
  background: rgba(22, 102, 120,.9);
  color: rgb(216, 215, 195);
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}
.home a:hover {
  background: rgba(22, 102, 120,.7);
  color: rgba(216, 215, 195,.8);
}
.home a:active {
  box-shadow: none;
}
.signupForm {
  border: black 1px solid;
  width: 50vw;
  height: 50vh;
  margin: 5vh 16vw;
  font-size: 1.5em;
}

.container {
  padding: .5em;
  display: grid;
  grid-template: auto / 30% 50% 14%;
  width: 100%;
  height: 97vh;
  column-gap: 3%;
  position: absolute;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.posts, .news{
  overflow: scroll;
}

.item {
  margin-top: 5em;
  height: 100%;
}
.item h2 {
  text-align: center;
  margin-bottom: 1em;
}
.article {
  margin-bottom: 1em;
  padding: .5em;
  background: rgb(125, 185, 179);
  margin-bottom: 1em;
  width: 95%;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
  border-radius: 5px;
}
.article img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,.6);
}
.article h3, h4 {
  margin: .3em 0;
}
.article a {
  color: rgb(216, 215, 195);
  text-shadow: 2px 2px 2px rgba(0,0,0,.6);
  font-weight: 200;
}
.newPost {
  background: rgb(125, 185, 179);
  color: rgb(216, 215, 195);
  text-shadow: 3px 3px 1px rgba(0,0,0,.7);
  height: 15em;
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1em;
  text-align: center;
  padding: .5em;
  border-radius: 2px;
  box-shadow:5px 5px 5px rgba(0,0,0,.6);
  font-weight: 100;
}
.textOnly {
  margin-top: 3em;
  font-size: 2em;
  width: 100%;
}
.newPost img {
  width: 15em;
  height: auto;
  margin-top: 1em;
}
.newPost small {
  position: absolute;
  width: 48%;
  text-align: right;
  bottom: 0;
}
.newPost h3 {
  text-align: left;
  font-weight: 200;
}

.posts {
  text-align: center;
}

form {
  margin-bottom: 1em;
}
.postbtn, .allPosts {
  margin-left: 75%;
  font-size: 1em;
  padding: .6em 0;
  margin-top: 0.5em;
  border-radius: 5px;
  width: 7em;
  background: rgba(22, 102, 120,.9);
  color: rgb(216, 215, 195);
}
.postbtn:hover, .allPosts:hover {
  background: rgba(22, 102, 120,.7);
}
.pics {
  width: 75%;
  margin: 1em 0;
  height: 1.5em;
  border-radius: 5px;
  background-color: rgba(125, 185, 179,.6);
}
#myTextArea {
  border-radius: 5px;
  width: 45vw;
  height: 15vh;
  border: rgba(125, 185, 179,.6) 3px solid;
}
.cancel {
  padding: .2em .3em .1em .3em;
  position: absolute;
  left: 95%;
  color: red;
  border: rgba(255,255,255,.6) 1px solid;
  font-weight: 600;
  background: rgba(255,255,255,.6);
  border-radius: 5px;
  text-shadow: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,.6);
  text-decoration: none;
}
.cancel:active {
  box-shadow: none;
}
.member {
  height: 2em;
  font-size: 1.5em;
  padding: .1em;
  position: relative;
  background: rgb(125, 185, 179);
  margin-bottom: .5em;
  border-radius: 1em;
  left: 70%;
  transition: all 1s ease;
  box-shadow:5px 5px 5px rgba(0,0,0,.6);
}
.member:hover {
  left: 0;
}
.member img {
  height: 2em;
  width: auto;
  float: left;
}

.member h5 {
  position: absolute;
  margin-left: 3.5em;
  margin-top: 1.3em;
}
.setting {
  width: 8em;
  height: 12em;
  background: rgba(0,0,0,.8);
  position: absolute;
  z-index: 2;
  left: 81%;
  top: 2.5em;
}
footer {
  background: rgba(22, 102, 120,.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5em;
}
